


<table>
	<th>product</th>
	<th>price</th>
	<th>quantity</th>
	<th>remove</th>
	<%if @car%>
	<% for item in @car.items %>
	<tr>
		<td><%= h item.name %></td>
		<td style="color:green"><%= h number_to_currency(item.price)  %></td>
		<td> <%form_for item,:url=> {:controller=>'store',:action=>'edit_quantity'}do|f|%>
	        <%=f.text_field :quantity,:size=>4%>
	        <%=f.hidden_field 'product_id',:value=>item.product.id%>
	        <%=f.submit 'change'%>
	        <%end%>
		</td>
		<td><%=button_to "remove",{:action=>"remove_from_car",:id=>item.id}%>
		</td>
	</tr>
	<% end %>
<% end %>
</table>

     
    <p style="color:green"> Total:<%=number_to_currency( @car.total_price)%></p>

<ul style="list-style:none">
  <li style="float:left">  <%=button_to "empty_car",:action=>"empty_car"%></li>
  <li style="float:left">   <%=button_to "check_out",new_order_path%></li>